{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block body %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">
                    <h3 class="m-0" style="color: white;">Profile</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th style="width: 30%;">First Name:</th>
                                    <td>{{ request.user.first_name }}</td>
                                </tr>
                                <tr>
                                    <th>Last Name:</th>
                                    <td>{{ request.user.last_name }}</td>
                                </tr>
                                <tr>
                                    <th>Phone Number:</th>
                                    <td>{{ request.user.phone }}</td>
                                </tr>
                                <tr>
                                    <th>Total Orders:</th>
                                    <td>{{ request.user.order_count }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}<!-- Banner Carousel -->

{% endblock body %}
